@use '/src/styles/colors.scss';
@use '/src/styles/typography.scss';
@use '/src/styles/breakpoints.scss';
@use '/src/styles/variables.scss';
@use '/src/styles/functions.scss';

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: colors.$color-black-35;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inner {
  position: relative;
  background-color: colors.$color-white;
  width: functions.getColumns(15, variables.$bp-small);
  height: auto;
  max-height: calc(100vh - 60px);
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 20px;
}

.imageContainer {
  display: flex;
  gap: 20px;
  flex: 1;
}

.imagePicker {
  background-color: red;
  width: 150px;
}

.imageWrapper {
  background-color: blue;
  flex: 1;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentHeader {
  background-color: yellow;
}

.contentDescription {
  background-color: pink;
}

.contentFooter {
  background-color: purple;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sizeContainer {
  background-color: green;
}

.quantityContainer {
  background-color: orange;
}

.buttonContainer {
  background-color: brown;
}

.inner > .contentHeader {
  display: none;
}

@media (max-width: variables.$bp-large) {
  .inner {
    flex-direction: column;
  }

  .content > .contentHeader {
    display: none;
  }

  .inner > .contentHeader {
    display: block;
  }
}

@media (max-width: variables.$bp-medium) {
  .container {
    flex-direction: column;
  }
  .imageContainer {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .imagePicker {
    width: 100%;
  }
}
